.fixTranslateBottom{
  transform: translate(0px, 2px);
}

@media screen and (min-width: 800px) {
  .fixTranslateTop{
    transform: translate(0px, -6px);
  }

  .fixTranslateBottom{
    transform: translate(0px, -6px);
  }
}
.segment-overlay {
  .segment-overlay__top,
  .segment-overlay__bottom {
    backface-visibility: hidden;
  }

  &.flip {
    .segment-overlay__top {
      animation: flip-top 0.52s ease-in;
    }

    .segment-overlay__bottom {
      animation: flip-bottom 0.52s ease-in;
    }

    &.first-flip {
      .segment-overlay__top {
        animation: flip-top 0.3s ease-in infinite;
      }

      .segment-overlay__bottom {
        animation: flip-bottom 0.3s ease-in infinite;
      }
    }
  }
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg) translate(0px, 0px);;
  }
  50%,
  100% {
    transform: rotateX(-90deg) translate(0px, -10px);;
  }
}

@keyframes flip-bottom {
  0%,
  49% {
    height: 0%;
    transform: rotateX(90deg);
  }
  50% {
    height: 50%;
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
