@media screen and (min-width: 800px) {
  .fixTranslateTop{
    transform: translate(0px, -6px);
  }

  .fixTranslateBottom{
    transform: translate(0px, -6px);
  }
}
.segment-overlay.flip .segment-overlay__top {
  animation: flip-top 0.6s linear;
}

.segment-overlay.flip .segment-overlay__bottom {
  animation: flip-bottom 0.6s linear;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg) translate(0px, 0px);;
  }
  50%,
  100% {
    transform: rotateX(-90deg) translate(0px, -10px);;
  }
}

@keyframes flip-bottom {
  0%,
  49% {
    height: 0%;
    transform: rotateX(90deg);
  }
  50% {
    height: 50%;
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
