@layer utilities {
  .perspective-1000 {
    perspective: 400px; /* Une perspective plus faible accentue l'effet 3D */
  }
  
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-x-180 {
    transform: rotateX(-180deg);
  }
}

/* Animation Keyframes */
.animate-flip {
  animation: flip-down 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes flip-down {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}